/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-title-text-color: #DB00FF;
  --shadow-color:#FF0070;
  --nav-color:#FF0070;
  --border-color: rgba(255, 0, 112, 0.4);
  --accent-color:#FF0070;
  --title-text-color:#FF0070;
  --paragraph-title-text-color:#000028;
  --paragraph-subtitle-text-color:#000028;
  --text-color: #F1B2CE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --main-title-text-color: #DB00FF;
    --shadow-color:#FF0070;
    --nav-color:#FF0070;
    --border-color: rgba(255, 0, 112, 0.4);
    --accent-color:#FF0070;
    --title-text-color:#FF0070;
    --paragraph-title-text-color:#000028;
    --paragraph-subtitle-text-color:#000028;
    --text-color: #F1B2CE;
  }
}
