/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --main-title-text-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --nav-color: #353430;
  --border-color: rgba(50, 49, 45, 0.4);
  --accent-color:#FF8DCB;
  --title-text-color:#353430;
  --paragraph-title-text-color:#353430;
  --paragraph-subtitle-text-color:#353430;
  --text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --main-title-text-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --nav-color: #353430;
    --border-color: rgba(50, 49, 45, 0.4);
    --accent-color:#FF8DCB;
    --title-text-color:#353430;
    --paragraph-title-text-color:#353430;
    --paragraph-subtitle-text-color:#353430;
    --text-color: #353430;
  }
}

.theme_light .header__decorated-element {
  display: none;
}